.nuclide-home-logo {
  background-image: url('atom://nuclide-home/images/logo.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 180px;
  margin: 0 auto 2em;
  width: 150px;
}
