{
  "parser": "babel-eslint",
  "env": {
    "jasmine": true,
    "node": true,
  },

  "ecmaFeatures": {
    "blockBindings": true,
    "jsx": true,
    "objectLiteralComputedProperties": true,
  },

  // Map from global var to bool specifying if it can be redefined
  "globals": {
    "__DEV__": true,
    "__dirname": false,
    "atom": false,
    "cancelAnimationFrame": false,
    "clearImmediate": true,
    "clearInterval": false,
    "clearTimeout": false,
    "console": false,
    "document": false,
    "escape": false,
    "exports": false,
    "global": false,
    "jest": false,
    "Map": false,
    "module": false,
    "process": false,
    "Promise": false,
    "requestAnimationFrame": true,
    "require": false,
    "Set": false,
    "setImmediate": true,
    "setInterval": false,
    "setTimeout": false,
    "window": false,
    "WebSocket": false,
    "XMLHttpRequest": false,

    // Atom test globals
    "advanceClock": false,
    "fakeClearInterval": false,
    "fakeClearTimeout": false,
    "fakeSetInterval": false,
    "fakeSetTimeout": false,
    "resetTimeouts": false,
    "waitsForPromise": false
  },

  "plugins": [
    "babel",
    "flow-vars",
    "jasmine",
    "nuclide-internal",
    "react",
  ],

  "rules": {
    "no-cond-assign": 2,             // disallow assignment in conditional expressions
    "no-console": 2,                 // disallow use of console: should use nuclide-logging instead
    "no-constant-condition": 2,      // disallow use of constant expressions in conditions
    "comma-dangle": [2, "always-multiline"], // require trailing commas in multiline object and array literals
    "no-control-regex": 2,           // disallow control characters in regular expressions
    "no-debugger": 2,                // disallow use of debugger
    "no-dupe-keys": 2,               // disallow duplicate keys when creating object literals
    "no-empty": 0,                   // disallow empty statements
    "no-empty-character-class": 2,   // disallow the use of empty character classes in regular expressions
    "no-ex-assign": 2,               // disallow assigning to the exception in a catch block
    "no-extra-boolean-cast": 2,      // disallow double-negation boolean casts in a boolean context
    "no-extra-semi": 2,              // disallow unnecessary semicolons
    "no-func-assign": 2,             // disallow overwriting functions written as function declarations
    "no-inner-declarations": 0,      // disallow function or variable declarations in nested blocks
    "no-invalid-regexp": 2,          // disallow invalid regular expression strings in the RegExp constructor
    "no-negated-in-lhs": 2,          // disallow negation of the left operand of an in expression
    "no-obj-calls": 2,               // disallow the use of object properties of the global object (Math and JSON) as functions
    "no-regex-spaces": 2,            // disallow multiple spaces in a regular expression literal
    "no-reserved-keys": 0,           // disallow reserved words being used as object literal keys (off by default)
    "no-sparse-arrays": 2,           // disallow sparse arrays
    "no-unreachable": 2,             // disallow unreachable statements after a return, throw, continue, or break statement
    "use-isnan": 2,                  // disallow comparisons with the value NaN
    "valid-jsdoc": 0,                // Ensure JSDoc comments are valid (off by default)
    "valid-typeof": 2,               // Ensure that the results of typeof are compared against a valid string

  // Best Practices
  // These are rules designed to prevent you from making mistakes. They either prescribe a better way of doing something or help you avoid footguns.

    "block-scoped-var": 0,           // treat var statements as if they were block scoped (off by default)
    "complexity": 0,                 // specify the maximum cyclomatic complexity allowed in a program (off by default)
    "consistent-return": 0,          // require return statements to either always or never specify values
    "curly": 2,                      // specify curly brace conventions for all control statements
    "default-case": 0,               // require default case in switch statements (off by default)
    "dot-notation": 0,               // dot notation encouraged except for foreign properties that cannot be renamed (i.e., Closure Compiler rules)
    "eqeqeq": [2, "allow-null"],                     // require the use of === and !==
    "guard-for-in": 0,               // make sure for-in loops have an if statement (off by default)
    "no-alert": 2,                   // disallow the use of alert, confirm, and prompt
    "no-caller": 2,                  // disallow use of arguments.caller or arguments.callee
    "no-div-regex": 2,               // disallow division operators explicitly at beginning of regular expression (off by default)
    "no-else-return": 0,             // disallow else after a return in an if (off by default)
    "no-empty-label": 2,             // disallow use of labels for anything other then loops and switches
    "no-eq-null": 0,                 // disallow comparisons to null without a type-checking operator (off by default)
    "no-eval": 2,                    // disallow use of eval()
    "no-extend-native": 2,           // disallow adding to native types
    "no-extra-bind": 2,              // disallow unnecessary function binding
    "no-fallthrough": 2,             // disallow fallthrough of case statements
    "no-floating-decimal": 2,        // disallow the use of leading or trailing decimal points in numeric literals (off by default)
    "no-implied-eval": 2,            // disallow use of eval()-like methods
    "no-labels": 2,                  // disallow use of labeled statements
    "no-iterator": 2,                // disallow usage of __iterator__ property
    "no-lone-blocks": 2,             // disallow unnecessary nested blocks
    "no-loop-func": 0,               // disallow creation of functions within loops
    "no-multi-str": 0,               // disallow use of multiline strings
    "no-native-reassign": 0,         // disallow reassignments of native objects
    "no-new": 2,                     // disallow use of new operator when not part of the assignment or comparison
    "no-new-func": 2,                // disallow use of new operator for Function object
    "no-new-wrappers": 2,            // disallows creating new instances of String,Number, and Boolean
    "no-octal": 2,                   // disallow use of octal literals
    "no-octal-escape": 2,            // disallow use of octal escape sequences in string literals, such as var foo = "Copyright \251";
    "no-proto": 2,                   // disallow usage of __proto__ property
    "no-redeclare": 0,               // disallow declaring the same variable more then once
    "no-return-assign": 2,           // disallow use of assignment in return statement
    "no-script-url": 2,              // disallow use of javascript: urls.
    "no-self-compare": 2,            // disallow comparisons where both sides are exactly the same (off by default)
    "no-sequences": 2,               // disallow use of comma operator
    "no-unused-expressions": 0,      // disallow usage of expressions in statement position
    "no-void": 2,                    // disallow use of void operator (off by default)
    "no-warning-comments": 0,        // disallow usage of configurable warning terms in comments": 2,                        // e.g. TODO or FIXME (off by default)
    "no-with": 2,                    // disallow use of the with statement
    "radix": 2,                      // require use of the second argument for parseInt() (off by default)
    "vars-on-top": 0,                // requires to declare all vars on top of their containing scope (off by default)
    "wrap-iife": 0,                  // require immediate function invocation to be wrapped in parentheses (off by default)
    "yoda": 2,                       // require or disallow Yoda conditions
    "strict": 0,                     // this rule conflicts with 'use-babel' so we'll just disable it

  // Variables
  // These rules have to do with variable declarations.

    "no-catch-shadow": 2,            // disallow the catch clause parameter name being the same as a variable in the outer scope (off by default in the node environment)
    "no-delete-var": 2,              // disallow deletion of variables
    "no-label-var": 2,               // disallow labels that share a name with a variable
    "no-shadow": 2,                  // disallow declaration of variables already declared in the outer scope
    "no-shadow-restricted-names": 2, // disallow shadowing of names such as arguments
    "no-undef": 2,                   // disallow referencing undeclared variables
    "no-undefined": 0,               // disallow use of undefined variable (off by default)
    "no-undef-init": 0,              // disallow use of undefined when initializing variables
    "no-unused-vars": [2, {"vars": "all", "args": "none"}], // disallow declaration of variables that are not used in the code
    "no-use-before-define": 0,       // disallow use of variables before they are defined

  // Node.js
  // These rules are specific to JavaScript running on Node.js.

    "handle-callback-err": 2,        // enforces error handling in callbacks (off by default) (on by default in the node environment)
    "no-mixed-requires": 2,          // disallow mixing regular variable and require declarations (off by default) (on by default in the node environment)
    "no-new-require": 2,             // disallow use of new operator with the require function (off by default) (on by default in the node environment)
    "no-path-concat": 2,             // disallow string concatenation with __dirname and __filename (off by default) (on by default in the node environment)
    "no-process-exit": 0,            // disallow process.exit() (on by default in the node environment)
    "no-restricted-modules": 2,      // restrict usage of specified node modules (off by default)
    "no-sync": 0,                    // disallow use of synchronous methods (off by default)

  // React
  // React-specific linting rules for ESLint (https://github.com/yannickcr/eslint-plugin-react)

    "react/jsx-closing-bracket-location": [2, {"selfClosing": "tag-aligned", "nonEmpty": "after-props"}],
    "react/jsx-curly-spacing": [2, "never"],  // Enforce or disallow spaces inside of curly braces in JSX attributes
    "react/jsx-no-undef": 2,                  // Disallow undeclared variables in JSX
    "react/jsx-space-before-closing": 2,       // Require space before self-closing bracket in JSX
    "react/jsx-uses-react": 2,                // Prevent React to be incorrectly marked as unused
    "react/jsx-uses-vars": 2,                 // Prevent variables used in JSX to be incorrectly marked as unused
    "react/no-deprecated": 2,                 // Prevent usage of deprecated methods (like `React.render`)
    "react/no-unknown-property": 2,           // Prevent usage of unknown DOM property
    "react/prop-types": 2,                    // Prevent missing props validation in a React component definition
    "react/react-in-jsx-scope": 2,            // Prevent missing React when using JSX

  // Stylistic Issues
  // These rules are purely matters of style and are quite subjective.

    "key-spacing": 0,
    "comma-spacing": 0,
    "no-multi-spaces": 0,
    "brace-style": [2, "1tbs", {"allowSingleLine": true}], // enforce one true brace style
    "camelcase": 0,                       // require camel case names
    "consistent-this": 2,                 // enforces consistent naming when capturing the current execution context (off by default)
    "eol-last": 2,                        // enforce newline at the end of file, with no multiple empty lines
    "func-names": 0,                      // require function expressions to have a name (off by default)
    "func-style": 0,                      // enforces use of function declarations or expressions (off by default)
    "new-cap": 0,                         // require a capital letter for constructors
    "new-parens": 2,                      // disallow the omission of parentheses when invoking a constructor with no arguments
    "no-nested-ternary": 0,               // disallow nested ternary expressions (off by default)
    "no-array-constructor": 2,            // disallow use of the Array constructor
    "no-lonely-if": 0,                    // disallow if as the only statement in an else block (off by default)
    "no-new-object": 2,                   // disallow use of the Object constructor
    "no-spaced-func": 2,                  // disallow space between function identifier and application
    "semi-spacing": 2,                    // disallow space before semicolon
    "no-ternary": 0,                      // disallow the use of ternary operators (off by default)
    "no-trailing-spaces": 2,              // disallow trailing whitespace at the end of lines
    "no-underscore-dangle": 0,            // disallow dangling underscores in identifiers
    "no-extra-parens": [2, "functions"],  // disallow wrapping of non-IIFE statements in parens
    "no-mixed-spaces-and-tabs": 2,        // disallow mixed spaces and tabs for indentation
    "indent": [2, 2, {"SwitchCase": 1}],  // indentation should be two spaces
    "jsx-quotes": [2, "prefer-double"],
    "quotes": [                           // enforce single quotes, allow double to avoid escaping ("don't escape" instead of 'don\'t escape')
      2, "single", "avoid-escape"
    ],
    "quote-props": 0,                     // require quotes around object literal property names (off by default)
    "semi": 2,                            // require or disallow use of semicolons instead of ASI
    "sort-vars": 0,                       // sort variables within the same declaration block (off by default)
    "space-after-keywords": 2,            // require a space after certain keywords (off by default)
    "space-before-blocks": 2,             // require a space before blocks
    "space-in-brackets": 0,               // require or disallow spaces inside brackets (off by default)
    "space-in-parens": 0,                 // require or disallow spaces inside parentheses (off by default)
    "space-infix-ops": 2,                 // require spaces around operators
    "space-return-throw-case": 2,         // require a space after return, throw, and case
    "space-unary-ops": 2,                 // require a space around word operators such as typeof (off by default)
    "max-nested-callbacks": 0,            // specify the maximum depth callbacks can be nested (off by default)
    "one-var": 0,                         // allow just one var statement per function (off by default)
    "wrap-regex": 0,                      // require regex literals to be wrapped in parentheses (off by default)

  // ECMAScript 6
  // These rules are only relevant to ES6 environments.
    "arrow-parens": 0,                    // require parens in arrow function arguments
    "arrow-spacing": 2,                   // require space before/after arrow function's arrow (fixable)
    "constructor-super": 0,               // verify calls of super() in constructors
    "generator-star-spacing": 0,          // enforce spacing around the * in generator functions (fixable)
    "no-class-assign": 0,                 // disallow modifying variables of class declarations
    "no-const-assign": 0,                 // disallow modifying variables that are declared using const
    "no-dupe-class-members": 0,           // disallow duplicate name in class members
    "no-this-before-super": 0,            // disallow use of this/super before calling super() in constructors.
    "no-var": 2,                          // require let or const instead of var
    "object-shorthand": 0,                // require method and property shorthand syntax for object literals
    "prefer-arrow-callback": 0,           // suggest using arrow functions as callbacks
    "prefer-const": 2,                    // suggest using const declaration for variables that are never modified after declared
    "prefer-reflect": 0,                  // suggest using Reflect methods where applicable
    "prefer-spread": 0,                   // suggest using the spread operator instead of .apply().
    "prefer-template": 0,                 // suggest using template literals instead of strings concatenation
    "require-yield": 0,                   // disallow generator functions that do not have yield

  // Legacy
  // The following rules are included for compatibility with JSHint and JSLint. While the names of the rules may not match up with the JSHint/JSLint counterpart, the functionality is the same.

    "max-depth": 0,                  // specify the maximum depth that blocks can be nested (off by default)
    "max-len": [2, 100, 2,           // specify the maximum length of a line in your program [warning level, max line length, number of characters to treat a tab as]
        {ignoreUrls: true, ignorePattern: "^\\s*(import\\s[^{]+from|(var|const|let)\\s[^{]+=\\s*require\\s*\\()"}],
    "max-params": 0,                 // limits the number of parameters that can be used in the function declaration. (off by default)
    "max-statements": 0,             // specify the maximum number of statement allowed in a function (off by default)
    "no-bitwise": 2,                 // disallow use of bitwise operators (off by default)
    "no-plusplus": 0,                 // disallow use of unary operators, ++ and -- (off by default)

  // Jasmine
    "jasmine/no-spec-dupes": [2, "branch"],  // Disallow duplicate spec descriptions within a branch
    "jasmine/no-suite-dupes": [2, "branch"], // Disallow duplicate suite descriptions within a branch
    "jasmine/no-disabled-tests": 0,          // Allow disabled tests to quickly unblock master when needed

  // Babel
    "babel/arrow-parens": [2, "as-needed"], // Include arrow function parentheses only when needed
    "babel/no-await-in-loop": 2,

  // Custom
    "flow-vars/define-flow-type": 2,
    "flow-vars/use-flow-type": 2,
    "nuclide-internal/comment-style": 2,
    "nuclide-internal/fb-license-header": 2,
    "nuclide-internal/import-type-style": 2,
    "nuclide-internal/flow-object-type": 2
  }
}
