.DS_Store
npm-debug.log*
*.pyc
/node_modules
/modules/**/node_modules
/coverage

## DOCS ##

/docs/.sass-cache/
/docs/_site/
/docs/.jekyll-metadata
# Ignore locked gems because GitHub Pages controls the gems in production,
# not Nuclide. Omit the lock so `bundle install` always installs the latest.
/docs/Gemfile.lock

/modules/jest-atom-runner/build
