/.eslintignore
/.eslintrc
/.flowconfig
/docs
/pkg/sample
/resources/benchmarker
/scripts
babel-cache
spec

# Ignore "BUCK" files, but not "buck/" directories.
# Note: These rules get inlined into ".gitignore" for apm publishing, git will
# ignore "buck/" directories without this exclusion on case-insensitive Macs.
BUCK
!buck/
