/.eslintignore
/.eslintrc
/.flowconfig
/benchmarker
/pkg/**/spec
/pkg/sample
/resources/**
!/resources/VendorLib/thrift-0.9.3-fb*
!/resources/VendorLib/v8-debug-fb*
!/resources/VendorLib/v8-profiler-fb*
/scripts
**/babel-cache/**
