# Allow modules that have "atom" as their engine
ignore-engines true

# Prevent adding accidental binary deps
ignore-scripts true

workspaces-experimental true

# Always default to exact versions
save-prefix ""
