# Allow modules that have "atom" as their engine
ignore-engines true

# Prevent adding accidental binary deps
ignore-scripts true

# Allow dependencies to be added to the root package.json.
--ignore-workspace-root-check true

# Don't install things like fsevents in all environments
ignore-optional true

workspaces-experimental true

# Always default to exact versions
save-prefix ""
