# By default, paths map to the directory in which the atomproject lives.

# "paths": [
# ]

"config":
  "*":
    # For now, no featuregroups are specified. This means all
    # featuregroups will by default be loaded into Nuclide.
    "nuclide": {
    }
