atom-panel.modal.nuclide-adb-sdb-custom-path-modal {
  width: 500px;
}

.nuclide-adb-sdb-custom-path-input {
  margin-top: 5px;
}

.nuclide-adb-sdb-custom-path-footer {
  display: flex;
  justify-content: flex-end;
}
