# Originally converted from TextMate's mercurial.tmbundle
# https://github.com/textmate/mercurial.tmbundle
fileTypes: ["HG_COMMIT_EDITMSG"]
name: "Mercurial Commit Message"
patterns: [
  {
    begin: "\\A(?!HG:)"
    end: "(?=HG: Enter commit message)"
    name: "meta.scope.message.hg-commit"
    patterns: [
      {
        include: "#comment"
      }
    ]
  }
  {
    begin: "^(?=HG: Enter commit message)"
    end: "\\z"
    name: "meta.scope.metadata.hg-commit"
    patterns: [
      {
        include: "#metadata"
      }
    ]
  }
]
repository:
  comment:
    begin: "^(HG:)"
    captures:
      "1":
        name: "punctuation.definition.comment.hg-commit"
    end: "\\n"
    name: "comment.line.hg-prefix.hg-commit"
  metadata:
    patterns: [
      {
        begin: "(?=^HG: --)"
        end: "(?!\\G)((?=^HG:\\w)|(?!^HG:))"
        patterns: [
          {
            begin: "(^[ \\t]+)?(?=HG:)"
            beginCaptures:
              "1":
                name: "punctuation.whitespace.comment.leading.hg-commit"
            contentName: "comment.line.hg-prefix.hg-commit"
            end: "(?!\\G)^"
            patterns: [
              {
                match: "\\GHG:"
                name: "punctuation.definition.comment.hg-commit"
              }
              {
                match: "(changed .*)$\\n?"
                name: "markup.changed.hg-commit"
              }
              {
                match: "(added .*)$\\n?"
                name: "markup.inserted.hg-commit"
              }
              {
                match: "(removed .*)$\\n?"
                name: "markup.deleted.hg-commit"
              }
            ]
          }
        ]
      }
      {
        include: "#comment"
      }
    ]
scopeName: "text.hg-commit"
