# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class
_pydevd_bundle/*.so
# Distribution / packaging
.Python
env/
bin/
build/temp.*
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

snippet.py
build/*
.pytest_cache