@import "ui-variables";

.nuclide-file-tree {
  background-color: @tree-view-background-color;

  // Fill horizontal and vertical space if tree is narrower or shorter than its containing panel.
  min-height: -webkit-min-content;
  min-width: -webkit-min-content;

  // Fill horizontal space if content is narrower than the containing panel.
  width: 100%;

  &:focus {
    background-color: contrast(
        @text-color,
        darken(@tree-view-background-color, 2%),
        lighten(@tree-view-background-color, 5%),
        25%);
  }
}

@ARROW_WIDTH: 16px;

.nuclide-tree-component-item {
  padding-right: 5px;
  position: relative;

  &.file > .icon {
    padding-left: @ARROW_WIDTH;
  }
}

.nuclide-tree-component-item-arrow {
  font-family: 'Octicons Regular';
  -webkit-font-smoothing: antialiased;
  width: @ARROW_WIDTH;
  display: inline-block;
  position: relative;
  top: -1px;
}
