@import "ui-variables";

.nuclide-file-tree {
  padding-left: 10px;
  padding-right: 10px;

  // Fill vertical and horizontal space if tree is smaller than panel.
  min-width: 100%;
  min-height: 100%;

  // Allow block to extend past parent's width, for autoresizing purposes.
  display: inline-block;

  background-color: @tree-view-background-color;

  &:focus {
    background-color: darken(@tool-panel-background-color, 5%);
  }
}
