@import "ui-variables";

.nuclide-onboarding {
  background-color: @base-background-color;
  color: @text-color;
  font-size: 1.25em;
  line-height: 1.4;
  min-width: 360px;
  overflow-x: auto;
  width: 100%;
}

.nuclide-onboarding-progress-point {
  background-color: lighten(@base-background-color, 20%);
  border-radius: 50%;
  color: transparent;
  display: inline-block;
  height: 20px;
  text-align: center;
  width: 20px;

  @media screen and (min-width: 950px) {
    color: white;
    height: 40px;
    line-height: 40px;
    width: 40px;
  }

  &:focus,
  &:hover {
    background-color: lighten(@base-background-color, 30%);
    cursor: pointer;
  }
}

.nuclide-onboarding-progress-point-completed, .nuclide-onboarding-progress-point-selected-task {
  background-color: darken(@text-color-success, 15%);

  &:focus,
  &:hover {
    background-color: darken(@text-color-success, 5%);
  }
}

.nuclide-onboarding-progress-point-connector {
  background-color: lighten(@base-background-color, 15%);
  height: 2.5px;
  position: absolute;
  top: calc(50% - 1.75px);
  width: 100%;

  @media screen and (min-width: 950px) {
    height: 5px;
    top: calc(50% - 2.5px);
  }
}

.nuclide-onboarding-progress-point-icon::before{
  color: white;
  margin-right: -1px;
}

.nuclide-onboarding-progress-points-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nuclide-onboarding-section {
  margin: 2em 1em 2em 3em;
}

.nuclide-onboarding-tasks-progress-bar {
  max-width: 860px;
  min-width: 275px;
  position: relative;
}

.nuclide-onboarding-title {
  font-size: 1.4em;
  line-height: 1.3;
}

.nuclide-onboarding-logo {
  display: inline-block;
  height: 36px;
  margin: 0 0.25em;
  vertical-align: middle;
  width: 30px;
}
