@import "ui-variables";

.nuclide-debugger-launch-attach-header {
  align-items: baseline;
  display: flex;
  margin-bottom: 1em;
}

.nuclide-debugger-launch-attach-container {
  flex: 1;
  width: 100%;
}
