# We try to make this more specific so it overrides the keybinding for the built-in tree-view.
'.platform-darwin atom-workspace':
  'cmd-\\': 'nuclide-file-tree-deux:toggle'
  'cmd-k cmd-b': 'nuclide-file-tree-deux:toggle'
  'cmd-|': 'nuclide-file-tree-deux:reveal-active-file'
  'ctrl-0': 'nuclide-file-tree-deux:toggle-focus'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-\\': 'nuclide-file-tree-deux:toggle'
  'ctrl-k ctrl-b': 'nuclide-file-tree-deux:toggle'
  'ctrl-|': 'nuclide-file-tree-deux:reveal-active-file'
  'alt-\\': 'nuclide-file-tree-deux:toggle-focus'

'.nuclide-file-tree-deux':
  'right': 'nuclide-file-tree-deux:expand-directory'
  'ctrl-]': 'nuclide-file-tree-deux:expand-directory'
  'left': 'nuclide-file-tree-deux:collapse-directory'
  'ctrl-[': 'nuclide-file-tree-deux:collapse-directory'
  'enter': 'nuclide-file-tree-deux:open-selected-entry'
  'delete': 'nuclide-file-tree-deux:remove'
  'backspace': 'nuclide-file-tree-deux:remove'
  'home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
