# Support for output marked up with ANSI color codes
# See: https://en.wikipedia.org/wiki/ANSI_escape_code#Colors

'name': 'ANSIColored'
'scopeName': 'text.ansi'
'fileTypes': [
  'ansi'
]
'patterns': [
  {
    'include': '#ansiFormatted'
  }
]
'repository':
  'ansiFormatted':
    'patterns': [
      {
        'begin': '(\\\u001B\\[)(?=(\\d+;)*\\d+m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'name': 'meta.ansi-formatted.ansi-colored'
        'applyEndPatternLast': true
        'end': '(?=\\\u001B\\[\\d+(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
    ]
  'ansiFormats':
    'patterns': [
      {
        'begin': '(?<=\u001B\\[|\\d;)(0;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!\\d+;)\\d+;)*\\d+(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(0m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!\\d+;)\\d+;)*\\d+(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(22;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!\\d+;)\\d+;)*\\d+(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(22m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!\\d+;)\\d+;)*\\d+(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(30;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.black.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(30m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.black.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(31;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.red.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(31m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.red.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(32;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.green.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(32m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.green.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(33;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.yellow.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(33m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.yellow.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(34;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.blue.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(34m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.blue.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(35;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.purple.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(35m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.purple.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(36;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.cyan.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(36m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.cyan.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(37;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.white.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(37m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.white.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(39;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.normal-color.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(39m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.normal-color.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|31|32|33|34|35|36|37|38|39);)\\d+;)*(?:0|31|32|33|34|35|36|37|38|39)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(1;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.intensive.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|2|21|22);)\\d+;)*(?:0|2|21|22)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(1m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.intensive.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|2|21|22);)\\d+;)*(?:0|2|21|22)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(2;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|2|21|22);)\\d+;)*(?:0|2|21|22)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(2m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.reset.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|2|21|22);)\\d+;)*(?:0|2|21|22)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(3;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.italic.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|23);)\\d+;)*(?:0|23)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(3m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.italic.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|23);)\\d+;)*(?:0|23)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(4;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.underline.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|24);)\\d+;)*(?:0|24)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(4m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.underline.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|24);)\\d+;)*(?:0|24)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(40;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-black.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(40m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-black.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(41;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-red.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(41m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-red.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(42;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-green.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(42m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-green.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(43;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-yellow.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(43m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-yellow.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(44;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-blue.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(44m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-blue.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(45;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-purple.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(45m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-purple.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(46;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-cyan.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(46m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-cyan.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(47;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-white.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(47m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-white.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(49;)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-normal-color.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#ansiFormats'
          }
        ]
      }
      {
        'begin': '(?<=\u001B\\[|\\d;)(49m)'
        'beginCaptures':
          '1':
            'name': 'hidden.ansi-escape-code.ansi-colored'
        'contentName': 'terminal.ansi.bg-normal-color.ansi-colored'
        'end': '(?=\u001B\\[((?!(?:0|41|42|43|44|45|46|47|48|49);)\\d+;)*(?:0|41|42|43|44|45|46|47|48|49)(;\\d+)*m)'
        'patterns': [
          {
            'include': '#mainPatterns'
          }
        ]
      }
    ]
