@import "ui-variables";

.nuclide-type-hint-overlay {
  background: @app-background-color;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,1);
  color: rgb(103, 103, 103);
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: @font-size;
  padding: 4px 10px;
  position: relative;
  white-space: nowrap;
}

.nuclide-type-hint-expandable-chevron {
  cursor: pointer;
}

atom-text-editor::shadow .nuclide-type-hint-highlight-region > .region {
  background: @background-color-highlight;
}
