'.platform-darwin atom-workspace':
  'cmd-\\': 'nuclide-file-tree:toggle'
  'cmd-k cmd-b': 'nuclide-file-tree:toggle'
  'cmd-|': 'nuclide-file-tree:reveal-active-file'
  'ctrl-0': 'nuclide-file-tree:toggle-focus'

'.platform-win32 atom-workspace, .platform-linux atom-workspace':
  'ctrl-\\': 'nuclide-file-tree:toggle'
  'ctrl-k ctrl-b': 'nuclide-file-tree:toggle'
  'ctrl-|': 'nuclide-file-tree:reveal-active-file'
  'alt-\\': 'nuclide-file-tree:toggle-focus'

'.nuclide-file-tree':
  'right': 'nuclide-file-tree:expand-directory'
  'ctrl-]': 'nuclide-file-tree:expand-directory'
  'left': 'nuclide-file-tree:collapse-directory'
  'ctrl-[': 'nuclide-file-tree:collapse-directory'
  'enter': 'nuclide-file-tree:open-selected-entry'
  'delete': 'nuclide-file-tree:remove'
  'backspace': 'nuclide-file-tree:remove'
  'home': 'core:move-to-top'
  'end': 'core:move-to-bottom'
