.nuclide-text-editor-container {
  flex-grow: 1;
  position: relative;

  atom-text-editor {
    width: 100%;
  }

  &.no-auto-grow {
    atom-text-editor {
      position: absolute;
      height: 100%;
    }
  }
}
