@import "ui-variables";

.nuclide-ui-empty-state-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.nuclide-ui-empty-state-message {
  align-self: center;
  text-align: center;
  padding: @component-padding;
}
