.nuclide-ssh-tunnels-table {
  flex: 1;
}

.nuclide-ssh-tunnels-table-row {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.nuclide-ssh-tunnels-table-empty-message {
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
}
