"atom-workspace":
  "cmd-shift-y": "nuclide-debugger:toggle"
  "f5": "nuclide-debugger:continue-debugging"
  "shift-f5": "nuclide-debugger:stop-debugging"
  "f6": "nuclide-debugger:step-over"
  "f7": "nuclide-debugger:step-into"
  "f8": "nuclide-debugger:step-out"
  # Xcode uses "cmd-\" to toggle-breakpoint which is already used by
  # nuclide-file-tree-deux:toggle so use F9 instead
  "f9": "nuclide-debugger:toggle-breakpoint"
